		
		body{
			background: url(../images/timg.jpg) 0px 0px no-repeat;
			background-size:100% 100%;
		
		}
		
		*{
		    font-family: "opensans";
		    font-size: 20px;
		    color: white;
		}
		
		
		
		/* 类选择器   登录*/  
		.main_bar{
			position: relative;
			width:1345px;
			height:350px;
			left: 40%;
   			top: 32%;
   			-webkit-animation: enterdiv 1.5s ease-in;
		}
		
		
		
		@-webkit-keyframes enterdiv {
		    0% {transform: translateY(-100%)}
		    100% {transform: translateY(0%)}
		}
		
		
		
		.bg{
		    position: absolute;
		    width: 500px;
		    height: 100%;;
		    background: #6d6d6d;
		    opacity: 0.4;
		    border-radius: 5px;
		}
		
		/*id选择器*/
		#login_form{
			position: absolute;
			height:100%;
			width:500px;
		}

        #login_form ul{
		    width: 400px;
		}
		
		#login_form ul li{
		    text-align: left;
		    height: 40px;
		    list-style: none;
		    margin-top:12px;
		}
		
		 /* .password{
		    margin-left: 4px;
		}
		
		.account{
		    margin-left: 16px;
		}  */
		
		.login{
		    position: relative;
		    top:30px;
		    float: left;
		    width: 88px;
		    line-height: 2;
		    padding: 0px 0px 0px 80px;
		    cursor:pointer;/*设置鼠标指针样式*/
		}
		
		.rest{
		    position: relative;
		    left: 80px;
		    top:30px;
		    float: left;
		    width: 88px;
		    line-height: 2;
		    padding:0px 0px 0px 40px;
		}
        
			
		.ttxt{
			display:inline-block;
			width:70px;
			margin:0 auto;
			margin-left:10%;
			height:30px;
			line-height:30px;
			font-size:15pt;	
			padding-left:8px;
			color:white;
			background-color:#C2C2C2;
			text-align:right;
			border-radius:8px;
			border:0;
		}
		
		.txt{
			/*display:block;*/ /*设置为独立块(换行)*/
			width:320px;
			margin:0 auto;/* margin-left:10% */
			margin-left:4px;
			margin-top:10px;
			margin-bottom:4px;
			height:35px;
			line-height:35px;
			font-size:15pt;	
			border-radius:8px;
			border:0;
			padding-left:8px;
			color:#C2C2C2;
		}
		.checkImage{
			margin-left:-100px;
			height:35px;
			line-height:35px;
			width:100px;
			border-radius:8px;
			border:0;
			vertical-align:middle;
			margin-top:-4px;
		}
		.errorMsg{
			width:100%;
			text-align:center;
			margin:0 auto;
			color:red;
		}
		
		#search_pass_link{
			width:378px;
			text-align:right;
			padding:5px;
			margin:0 auto;
			margin-left:15%;
		}
		/*层级选择器*/
		#search_pass_link a{
			color:#000000;
			text-decoration:none;
		}
		/*伪类*/
		#search_pass_link a:hover{
			color:#ff0000;
			text-decoration:underline;
		}
		
